.notificationsPageBackground{
    background: url("../../../assets/notificationsPageBackground.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (max-width: 900px){
    .notificationsPageBackground {
        background: white;
    }
}