.authenticationPageBackground {
    background: url("../../../assets/editedAuthenticationPageBackground.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.authenticationForm {
    position: relative;
    left: 80%;
    top: 12.5rem;
}