.header {
    background-color: #4300F7;
    font-family: "Roboto", sans-serif;
    padding-left: 0rem;
    padding-right: 0rem;
}

.header img{
    margin-right: 20px;
    
}

.header a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white !important;
}

.header a:hover, header a:active, .header a.active {
    color: #F36F27 !important;
} 