.header {
    height: 4.5rem;
    display: flex;
    align-items: center;
    background-color: lightgrey;
    padding: 0 5%;
    border-bottom: solid 2px #4300F7;
}
  
.logo {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}

.header button {
    position: absolute;
    right: 2.5rem;
}

.header nav {
    padding-top: 100%;
    padding-bottom: 100%;
}

.header img {
    height: 3rem;
    margin-top: 100%;
    margin-bottom: 100%;
}

.header ul {
    list-style: none;
    display: flex;
    font-family: "Roboto" "sans-serif";
}

.header ul li {
    display: flex-item;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    
}

.header ul:last-child {
    padding-right: 5px;
}
  
.header a {
    text-decoration: none;
    font-size: 1.7rem;
    color: #4300F7;
}
  
.header a:hover, .header a:active, .header a.active {
    color: #FF6E00;
}  