.mainContainer {
    border: 3px solid #3C06EB;
    background-color: #D7F684;
    font-family: "Montserrat", sans-serif;
    width: 90%;
    text-align: center;
    margin-top: 2.75rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
}

.ambassadorInformation {
    color: #3C06EB;
    font-weight: bold;
    text-decoration: underline;
    font-size: 2rem;
    margin-bottom: 2%;
}

.singleValue {
    margin-bottom: 0.25rem;
}

.valueName {
    color: #3C06EB;
    font-weight: bold;
    font-size: 1.2rem;
}

.actualValue {
    text-shadow: 1px 3px 32px #FF6E00;
    font-size: 1.05rem;
}