.mainContainer {
    border: 3px solid #3C06EB;
    background-color: #D7F684;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    text-align: center;
    padding: 5%;
    margin-top: 2.75rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.inputBox {
    display: block;
    margin: 1rem auto;
    border: 1px solid #4300F7;
    resize: none;
    width: 80%;
    text-align: center;
}

input::placeholder {
    font-size: 1rem;
    color: #4300F7
}

.submission {
    grid-area: submission;
    border: 2px solid #FF6E00;
    background-color: #4300F7;
    margin: 10px auto;
    width: 50%;
    color: #FF6E00;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}