.button {
    background-color: #F36F27;
    border: 1px solid #F36F27;
    color: #4300F7;
    padding: 5px 11px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

.button:hover {
    background-color: #D7F684;
    border: 1px solid #D7F684;
}